@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
body {
    background-color: hsl(211, 68%, 94%);
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .main-container {
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 2%;
    background-color: hsl(0, 0%, 100%);
  }

  h1{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .content-text{
    font-size: 16px;
  }

  .grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }

  .grid-child-element {
    margin: 10px;
  }

  .first {}

  .second {
    padding-left: 12rem;
    padding-top: 13px;
  }

  .board-private-message{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid rgb(134, 134, 134);
      font-size: 16px;
      color: rgb(134, 134, 134);
  }
  .image-comment{
      padding-left: 13%;
  }

  .profile-img{
      width: 3rem;
      height: auto;
      margin-left: 30px;
  }

  .container{
      padding-bottom: 3%;
  }